<thead>
    <tr>
        <th data-field="id">ID</th>
        <th data-field="name">Name</th>
    </tr>
</thead>

<tbody>
    <tr>
        <td><%= track.id %></td>
        <td><%= track.title %></td>
    </tr>
</tbody>
